@import url('https://fonts.googleapis.com/css2?family=Hind&family=Lato&display=swap');
body {
    background: #eee;
    font-family: "Lato";
    color: #555;
    line-height: 1.5;
    padding: 1em;
    margin: 0 auto;
    width: 90%; /* use percentage to make it responsive */
}

h1 {
    text-align: left;
    color: #333;
    font-size: 2em;
    font-weight: normal;
}

h2 {
    text-align: left;
    color: #333;
    font-weight: normal;
    font-size: 1.25em;
    margin-top: 1em; /* reduced this to avoid unnecessary space */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* this allows the content to move to next line when the viewport size decreases */
}

.top-buttons,
.header {
    display: flex;
    gap: 1.5em;
}

.top-buttons button,
.header button {
    padding: 0;
    border: none;
    background: none;
    font-family: "Lato";
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
}

.top-buttons button:hover {
    text-decoration: underline; 
}

.header button {
    font-weight: bold;
    white-space: nowrap;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5em;
}

.text-content {
    display: flex;
    box-sizing: border-box;
    max-width: 50%;
    margin-left: 5%;
}

.image img {
    display: flex;
    width: 226px;
    height: 204px;
    /* margin-right: 25%; */
    float: right;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    width: calc(50% - 40px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.project:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.project img {
    width: 100%;
    height: auto;
}

.project-description {
    padding: 20px;
}
