@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    background: #eee;
    font-family: "Roboto";
    color: #555;
    line-height: 1.5;
    padding: 1em 1em;
    margin: 0 auto;
    max-width: 60%;
}


h1 {
    text-align: left;
    color: #333;
    font-size: 2em;
    margin-top: 3em;
    font-weight: normal;
}

h2 {
    text-align: left;
    padding-top: 1em;
    color: #333;
    font-weight: normal;
    font-size: 1.25em;
    margin-top: -1.5em;
}

.top-buttons {
    display: flex;
    gap: 1em;
    margin-right: -15.75em;

}

.top-buttons button {
    margin-left: 1em;
    padding: 0;
    border: none;
    background: none;
    font-family: "Roboto";
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
}

.top-buttons button:hover {
    text-decoration: underline; 
}

.content-wrapper {
    overflow: auto;
}
  
.text-content {
    overflow: hidden;
}

img {
    float: left;
    margin-top: 10.2em;
    margin-right: 4em;
    margin-left: -3em;
}

.header {
    display: flex;
    margin-left: -17.5em;
    gap: 1em;
}

.header button {
    margin-left: 1.25em;
    padding: 0;
    border: none;
    background: none;
    font-family: "Roboto";
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}